# Backend API URL
VITE_API_BASE_URL=http://localhost:8000

# Supabase Configuration
VITE_SUPABASE_URL=https://xdhdgbatllhqwmoaddka.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_CqnWmeeAeJsg6FGA55W1kQ_fsKMpBfi

# Map Provider (MapTiler)
VITE_MAPTILER_API_KEY=XyEQ0r79mujRxV4p3Ewu